/* Universal Selector to remove default browser settings */
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

@font-face {
  font-family: "Main";
  src: url(../public/assets/fonts/JosefinSans-VariableFont_wght.ttf);
  font-weight: 300 600;
}

/* CSS Variables */
:root {
  /* Primary */
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);

  /* Neutral */
  --Dark-Grayish-Red: hsl(0, 6%, 24%);

  /* Gradients */
  --WhiteA: hsl(0, 0%, 100%);
  --WhiteB: hsl(0, 100%, 98%);
  --RedA: hsl(0, 80%, 86%);
  --RedB: hsl(0, 74%, 74%);

  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: "Main";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  color: var(--Dark-Grayish-Red);
}

.pink {
  color: var(--Desaturated-Red);
}

.formContainer {
  border: 1px solid var(--Desaturated-Red);
}

.formContainer:focus-within {
  outline: 1px solid var(--Desaturated-Red);
}

.formContainer:focus-within.formContainer {
  border: none;
}

.formContainer.red {
  outline: 2px solid var(--Soft-Red);
  border: none;
}

#email.input:focus-visible,
#email.input[aria-invalid="true"],
#email.input[data-invalid] {
  outline: none;
  border: none;
  box-shadow: none;
}

::placeholder {
  color: var(--Dark-Grayish-Red);
  opacity: 0.3;
  transform: translateY(-1px);
}

#button.button {
  background-image: linear-gradient(to right, var(--RedA), var(--RedB));
  border: none;
  box-shadow: 0 15px 50px -10px var(--Desaturated-Red);
}

#button.button:active {
  background-image: linear-gradient(to right, var(--RedA), var(--RedA));
}

.error {
  color: var(--Soft-Red);
  font-weight: 600;
}

/* Extra small devices [iPhone SE - 375](phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    height: fit-content;
  }
}
